<!doctype html>
<html>
<head>
    <title>Meep Registry - Register New Egg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.5/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; background-color: #e74c3c; }
        .jumbotron{
          width: 33%;
          margin-left: 33%;
        }
        input{
          width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
<div class="jumbotron">
  <h1>Register New Egg</h1>
  <!-- LOGIN FORM -->
  <form action="/registry/register" method="post">
      <div class="form-group">
        <label for="inputEggName" class="col-md-2 control-label">Egg Name</label>

        <div class="col-md-10">
          <input  class="form-control" name="eggName" placeholder="myNewEgg"/><br />
          <small>(No spaces, hyphens only. No extensions.)</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEggName" class="col-md-2 control-label">Version</label>

        <div class="col-md-10">
          <input  class="form-control" name="version" placeholder="0.0.1"/><br />
          <small>(No spaces, example: 0.0.1)</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-md-2 control-label">Egg</label>

        <div class="col-md-10">
          <input class="form-control" id="egg" name="egg" placeholder="stringified Egg"/><br />
          <small>(The egg MUST be stringified first using JSON.stringify()!)</small>
        </div>
      </div>

      <button type="submit" class="btn btn-warning btn-block btn-lg btn-raised">Add to Registry</button>
  </form>


</div>
</div>
</body>
</html>
